proxmox_api_url = "https://10.x.x.x:8006/api2/json"  # Your Proxmox IP Address
#proxmox_api_token_id = "xxx@pam!test_id"  # API Token ID
#proxmox_api_token_secret = "XxXXxxXxxx"
proxmox_host_node = "proxmox"
proxmox_api_username = "xxx@pam"
proxmox_api_password = "xxx"
